<div class="about-us-container" id="company">
  <div class="subtitle">ABOUT COMPANY</div>
  <div class="title">
    We Always Provide Best Technology<br />
    Services to Our Customers.
  </div>
  <div class="cards">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front it-services">
          <img src="/assets/images/computers.png" />
          <div class="title">Managed IT Services</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <div class="title">Managed IT Services</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front cloud-services">
          <img src="/assets/images/cloud.png" />
          <div class="title">Cloud Services</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <div class="title">Cloud Services</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front machine-learning-services">
          <img src="/assets/images/machine-learning.png" />
          <div class="title">Machine Learning</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <div class="title">Machine Learning</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front data-security-services">
          <img src="/assets/images/data-security.png" />
          <div class="title">Data Security</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <div class="title">Data Security</div>
          <div class="description">
            Proin Pulvinar Eu Sem Endro thes Vehicula. Integer Urna Libero an,
            Semper emper business.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
