<div class="services-container" id="services">
  <iframe
    class="iframe"
    src="https://www.youtube.com/embed/pDWUf_g2zsc?si=d0NZzdAF33gcu4W_&autoplay=1&controls=0&mute=1&loop=1&playlist=pDWUf_g2zsc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <div class="background-overlay"></div>
  <div class="subtitle">Service We Provide</div>
  <div class="title">
    All Professional We’re Offering Best<br />
    IT Solutions &
    <span style="color: #0c5adb">Services</span>
  </div>
  <div class="cards">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images/web-design.png" />
          <div class="title">Web Design</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <img src="/assets/images/web-design.png" class="icon" />
          <div class="title">Web Design</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images/motion-design.png" />
          <div class="title">Motion Design</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <img src="/assets/images/motion-design.png" class="icon" />
          <div class="title">Motion Design</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images/digital-marketing.png" />
          <div class="title">Digital Marketing</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <img src="/assets/images/digital-marketing.png" class="icon" />
          <div class="title">Digital Marketing</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images/web-development.png" />
          <div class="title">Web Development</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <img src="/assets/images/web-development.png" class="icon" />
          <div class="title">Web Development</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images/app-development.png" />
          <div class="title">App Development</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <img src="/assets/images/app-development.png" class="icon" />
          <div class="title">App Development</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images/creative-solution.png" />
          <div class="title">Creative Solution</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
        <div class="flip-card-back">
          <div class="background-overlay"></div>
          <div class="bubble"></div>
          <img src="/assets/images/creative-solution.png" class="icon" />
          <div class="title">Creative Solution</div>
          <div class="description">
            Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper
            mes.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
