<div class="navigation-container-desktop" [ngClass]="{ scrolled: isScrolled }">
  <img src="/assets/images/logo.png" />
  <div class="navigation-items">
    <div class="navigation-item" (click)="desktopScroll('home')">HOME</div>
    <div class="navigation-item" (click)="desktopScroll('company')">
      COMPANY
    </div>
    <div class="navigation-item" (click)="desktopScroll('services')">
      SERVICES
    </div>
    <div class="navigation-button" (click)="getAQuote()">GET A QUOTE</div>
  </div>
</div>
<div class="navigation-container-mobile">
  <img src="/assets/images/logo.png" />
  <img
    src="/assets/images/hamburger-menu.png"
    *ngIf="!showMobileMenu"
    (click)="openMobileMenu()"
  />
  <img
    src="/assets/images/close.png"
    *ngIf="showMobileMenu"
    (click)="closeMobileMenu()"
  />
</div>
<div
  class="navigation-content-mobile"
  *ngIf="showMobileMenu"
  [ngClass]="{ show: showMobileMenu }"
>
  <div class="navigation-item" (click)="mobileScroll('home')">HOME</div>
  <div class="navigation-item" (click)="mobileScroll('company')">COMPANY</div>
  <div class="navigation-item" (click)="mobileScroll('services')">SERVICES</div>
</div>
